@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@font-face {
  font-family: 'Gothampro';
  src: url('./../../font/gothampro.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: Gothampro, sans-serif;
}
.app{

}